{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% block title %}Venta{% endblock %}</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <a href="{{ path('app_venta_new') }}" class="btn btn-success mb-3">Crear nueva venta</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Estado</th>
                <th>FormaPago</th>
                <th>Observacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ventum in ventas %}
            <tr>
                <td>{{ ventum.id }}</td>
                <td>{{ ventum.fecha ? ventum.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>${{ ventum.total }}</td>
                <td>{{ ventum.estado.value }}</td>
                <td>{{ ventum.formaPago.value }}</td>
                <td>{{ ventum.observacion }}</td>
                <td>
                    <a href="{{ path('app_venta_show', {'id': ventum.id}) }}" class="btn btn-primary btn-sm">Ver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
