{% extends 'base.html.twig' %}

{% block title %}Venta index{% endblock %}

{% block body %}
    <h1>Venta index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Estado</th>
                <th>FormaPago</th>
                <th>Observacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ventum in ventas %}
            <tr>
                <td>{{ ventum.id }}</td>
                <td>{{ ventum.fecha ? ventum.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>${{ ventum.total }}</td>
                <td>{{ ventum.estado.value }}</td>
                <td>{{ ventum.formaPago.value }}</td>
                <td>{{ ventum.observacion }}</td>
                <td>
                    <a href="{{ path('app_venta_show', {'id': ventum.id}) }}">Ver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_venta_new') }}">Create new</a>
{% endblock %}
